[Unit]
Description=JACK2 Audio Server
#After=sound.target

[Service]
Environment=JACK_NO_AUDIO_RESERVATION=1
#Environment=JACK_PROMISCUOUS_SERVER=jack
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=/usr/bin/jackd
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
