[Unit]
Description=JACK2 Audio Server
#After=sound.target

[Service]
Environment=LV2_PATH=/home/pistomp/.lv2
Environment=JACK_NO_AUDIO_RESERVATION=1
Environment=JACK_PROMISCUOUS_SERVER=jack
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=/etc/jackd -t 2000 -R -P 95 -d alsa -d hw:0 -r 48000 -p 128 -n 2 -X seq -s
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
